<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="DuoVia.FuzzyStrings" version="1.0.1" targetFramework="net46" />
  <package id="F23.StringSimilarity" version="1.1.1" targetFramework="net461" />
  <package id="LevenshteinMinimumEditDistance" version="1.2.0" targetFramework="net46" />
  <package id="NinjaNye.SearchExtensions" version="1.8.6091.39511" targetFramework="net461" />
  <package id="StringCompareMeasure" version="1.1" targetFramework="net46" />
  <package id="TNX.StringManipulation" version="1.0.0" targetFramework="net46" />
</packages>