<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="F23.StringSimilarity" version="2.0.0" targetFramework="net461" />
  <package id="LevenshteinMinimumEditDistance" version="1.2.0" targetFramework="net46" />
  <package id="NinjaNye.SearchExtensions" version="2.0.6149.33145" targetFramework="net461" />
  <package id="TNX.StringManipulation" version="1.0.0" targetFramework="net46" />
</packages>